<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.64.0" targetFramework="net6.0-windows" />
  <package id="Google.Apis.Auth" version="1.64.0" targetFramework="net6.0-windows" />
  <package id="Google.Apis.Core" version="1.64.0" targetFramework="net6.0-windows" />
  <package id="Google.Apis.YouTube.v3" version="1.64.0.3205" targetFramework="net6.0-windows" />
  <package id="InstagramApiSharp" version="1.7.4" targetFramework="net6.0-windows" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net6.0-windows" />
  <package id="Quartz" version="3.8.0" targetFramework="net6.0-windows" />
  <package id="System.Configuration.ConfigurationManager" version="8.0.0" targetFramework="net6.0-windows" />
  <package id="System.Text.Json" version="8.0.0" targetFramework="net6.0-windows" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.0" targetFramework="net6.0-windows" />
</packages>